.required {
    &::after {
        content: '*';
        color: #dc143c;
    }
}

.thread-title {
    font-weight: bold;
    font-size: 1.2rem;
    word-break : break-all;
}

.create-form {
    margin: 0 auto;
    padding: 1.0rem;
    background: #fff;

    &__item {
        margin: 10px 0;
    }

    &__title {
        font-weight: bold;

    }
}

.res {
    background-color: #fff;
    padding: 10px;
    margin: 20px 10px;
    box-sizing: border-box;

    &__header {
        font-weight: bold;
    }

    &__content {
        padding: 0 10px;
    }
}

.category {
    margin: 10px 0;
    &__item {
        background-color: #dcdcdc;
        padding: 0.3rem;
        margin: 0.3rem;
    }
}
